# Milestones 2 Phase 2 $Inference$

Vincent Timothy Djaja
RMT - 017

## Load Model

In [5]:
# Load the Models

import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model

model = load_model('classification_model')

## Inference

In [6]:
# Load dataset

df_ori = pd.read_csv('complaints_processed.csv').iloc[100011:100012]
df_inf = df_ori.copy()
df_inf

,Unnamed: 0,product,narrative
100011,100011,mortgages_and_loans,loan relatively new loan refinanced va loan es...

In [14]:
print(df_inf.narrative[100011])

loan relatively new loan refinanced va loan escrow account lender required pay home owner insurance property tax received property tax delinquent notice winter tax lender attributed timing loan sure paid either previous lender current lender either way get paid received another property tax delinquent notice next round property tax due lender lakeview loan servicing llc

In [8]:
# Drop unnecessary column
df_inf.drop(['Unnamed: 0','product'],axis=1,inplace=True)

In [16]:
# Predict using Neural Network
y_pred_inf = model.predict(df_inf).argmax(axis=1)
y_pred_inf

1/1 [==============================] - 0s 21ms/step

array([5], dtype=int64)

In notebook model, my classification is :

```
df['target'] = df['product'].replace({'debt_collection' : 1,  
                                      'credit_reporting' : 2,  
                                       'credit_card' : 3, 
                                      'retail_banking' : 4, 
                                      'mortgages_and_loans' : 5
                                      })
```

So `5` is representing motgages_and_loand, and if we see the data original :

In [20]:
# Show the result
print(df_ori['product'])

100011    mortgages_and_loans
Name: product, dtype: object

Thus, my model can predict this inference dataset `correctly`.

---